$color1: #000;
$color2: #fff;
$color3: rgb(190, 190, 190);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    display: flex;
    width: 100%;
    margin: auto;
    max-width: 1000px;
}

/* ----- ----- HEADER ----- ----- */

header {
    .contenedor-header {
        width: 100%;
        background: $color1;
        position: fixed;
        z-index: 2;

        .contenedor-nav {
            display: flex;
            width: 100%;
            margin: auto;
            max-width: 1000px;
            max-height: 100px;
            justify-content: space-between;
        }
    }
}

.barra {
    width: auto;
    height: 100px;
    display: inline;
}

.logo {
    display: inline;
    width: 100px;
}

.menu {
    list-style: none;
    float: right;
    display: inline;
    padding-top: 70px;
    margin-bottom: 0;

    li {
        display: inline-block;

        a {
            padding: 10px;
            text-decoration: none;
            color: $color2;
            font-size: 16px;

            &:hover {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

/* ----- ----- MAIN ----- ----- */

main {
    padding-top: 130px;
}

main section {
    padding-top: 20px;
}

main .espacios {
    background: $color1;
}

main .principal {
    padding: 30px;
}

main .principal .contenedor {
    flex-direction: column;
}

main .principal .foto img {
    max-width: 1000px;
}

h1 {
    font-size: 32px;
    color: $color1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 30px;
}

h2 {
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 35px;
    margin: 0 0 10px 0;
    text-align: center;
}

h5,
h6 {
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 35px;
    margin-bottom: 8px;
}

p {
    font-family: "Open Sans", sans-serif;
}

main .contenedor {
    padding: 30px;
    overflow: hidden;
}

main .contenedor .descripcion,
main .espacios .contenedor .descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color2;
}

main .contenedor .descripcion2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color1;
}

main .espacios .contenedor .img-espacios img {
    width: 500px;
    padding: 0 0 0 20px;
}

main .contenedor .img-idea img {
    width: 500px;
    padding: 0 20px 0 0;
}

main .contenedor .noticia {
    border: solid 1px $color1;
    margin-top: 20px;
    padding: 10px;
}

/* ----- ----- GRID - NOTICIAS ----- ----- */

.contenedor-grid {
    margin: auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    justify-content: center;
}

.articulo {
    border: 1px solid $color1;
    margin: 6px;
    padding: 6px;
    width: 1fr;
    height: 405px;
}

.articulo .not {
    text-align: left;
}

main .noti {
    padding: 60px;
    height: 460px;
}

main section .contenedor-grid .noticia {
    justify-self: end;
}

img {
    width: 100%;
}

/* ----- ----- TRANSFORMACIONES ----- ----- */

.img-servicio:hover {
    transform: scale(1.2, 1.2);
}

/* ----- ----- CONTACTO ----- ----- */

.formulario {
    padding-bottom: 30px;
    margin-right: 200px;
    margin-left: 200px;
}

/* ----- ----- FOOTER ----- ----- */

footer {
    background: $color1;

    .contenedor {
        flex-direction: row;
        margin-top: 15px;

        .direccion {
            padding: 0;
            color: $color2;

            h5,
            h6 {
                color: $color3;
                font-family: Arial,
                    Helvetica,
                    sans-serif;
                font-size: 10px;
                font-weight: 300;
            }
        }

        .redes-sociales {
            justify-content: flex-end;

            img {
                width: 40px;
                padding: 5px;
            }
        }
    }


}