* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 1000px;
}

/* ----- ----- HEADER ----- ----- */

header .contenedor-header {
  width: 100%;
  background: #000;
  position: fixed;
  z-index: 2;
}

header .contenedor-header .contenedor-nav {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
}

.barra {
  width: auto;
  height: 100px;
  display: inline;
}

.logo {
  display: inline;
  width: 100px;
}

.menu {
  list-style: none;
  float: right;
  display: inline;
  padding-top: 70px;
}

.menu li {
  display: inline-block;
}

.menu li a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.menu li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* ----- ----- MAIN ----- ----- */

main {
  padding-top: 90px;
}

main section {
  padding-top: 20px;
}

main .principal,
main .espacios,
main .ambientamos {
  background: #0c0c0c;
  color: #fff;
}

main .principal {
  padding: 30px;
}

main .principal .contenedor {
  flex-direction: column;
}

main .principal .foto img {
  max-width: 1000px;
}

h1 {
  font-size: 32px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 30px;
}

h2 {
  color: #fff;
  font-family: Arial,
    Helvetica,
    sans-serif;
  font-size: 35px;
  margin: 0 0 10px 0;
  text-align: center;
}

p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

main .contenedor {
  padding: 30px;
  overflow: hidden;
}

main .contenedor .descripcion,
main .ambientamos .contenedor .descripcion,
main .espacios .contenedor .descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


main .ambientamos .contenedor .img-ambient img,
main .espacios .contenedor .img-espacios img {
  width: 500px;
  padding: 0 0 0 20px;
}

main .espacios .contenedor .descripcion .p-espacios {
  font-size: 22 px;
}

main .contenedor .img-idea img {
  width: 500px;
  padding: 0 0 0 20px;
}

.img-acerca img {
  width: 200px;
}

table {
  margin: 40px;
}

main .contenedor .noticia {
  border: solid 1px rgb(7, 7, 7);
  margin-top: 20px;
  padding: 10px;
}

/* ----- ----- GRID - NOTICIAS ----- ----- */

.contenedor-grid {
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  justify-content: center;
}

.articulo {
  border: 1px solid #5fcc9c;
  margin: 6px;
  padding: 6px;
  width: 1fr;
  height: 405px;
}

.articulo .not {
  text-align: left;
}

main .noti {
  padding: 60px;
  height: 460px;
}

main section .contenedor-grid .noticia {
  justify-self: end;
}

img {
  width: 100%;
}

/* ----- ----- CONTACTO ----- ----- */

.formulario {
  padding-bottom: 30px;
  margin-right: 200px;
  margin-left: 200px;
}

/* ----- ----- FOOTER ----- ----- */

footer {
  background: #000;
}

footer .contenedor .mapa img {
  max-width: 300px;
  padding: 25px;
}

footer .contenedor .direccion {
  align-self: flex-end;
}

h5,
h6 {
  padding-bottom: 0;
}

footer .contenedor .redes-sociales {
  align-self: flex-end;
}